.report {
  .box {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  .item {
    width: 48%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  }
}
