.sidebarItem {
  a {
    display: block;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.2s linear;
    color: #686868;
    text-transform: capitalize;
    margin-bottom: 5px;
    span {
      display: block;
      transition: all 0.2s ease-in-out;
      &:hover {
        transform: translateX(3px);
      }
    }
    .dropDownIcon {
      display: flex;
      justify-content: space-between;
      &::after {
        content: '❮';
        transform: rotate(270deg);
        display: block;
        font-size: 12px;
      }
    }
  }
  ul {
    list-style: none;
    padding: 0 0px 0 10px;
    margin: 0;
    a {
      background: none;
      color: #686868;
    }
    .dropActive {
      a {
        color: #ca932c !important;
        font-weight: 600;
      }
    }
  }
}
.active {
  a {
    background: linear-gradient(to right, #ca932c, #e3c28b);
    color: #fff;
  }
}
