.header {
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title {
    font-size: 24px;
  }
  .user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 0;
    .info {
      border-radius: 4px;

      .name {
        font-weight: 600;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 105px;
      }
      .role {
        font-size: 12px;
      }
    }
    &:hover {
      .dropdown {
        display: block;
      }
    }
  }
  .icon {
    max-width: 40px;
    min-width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #e3c28b;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.1);
  }
  .dropdown {
    z-index: 10;
    display: none;
    position: absolute;
    right: 0;
    width: 100%;
    top: 48px;
    background: #fff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;

      li {
        padding: 10px;
        transition: all 0.2s linear;
        border-radius: 4px;
        background: #fff;
        cursor: pointer;
        &:hover {
          background: #f3f3f3;
        }
      }
      .logout {
        display: flex;
        align-items: center;
        gap: 5px;
        &::before {
          content: '';
          background: url(../../../public/assets/icons/logout-icon.svg) center 0 no-repeat;
          display: block;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
